<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fidilaundry.app">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
<!--    <uses-permission android:name="android.permission.RECORD_AUDIO" />-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<!--    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
<!--    <uses-permission android:name="android.permission.RECEIVE_SMS" />-->

    <!-- Always include this permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.fidilaundry.app.MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/BlueTheme.Base"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,LockedOrientationActivity"
        tools:replace="android:allowBackup"
        tools:targetApi="m">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name="com.fidilaundry.app.ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.fidilaundry.app.ui.auth.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fidilaundry.app.ui.auth.RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fidilaundry.app.ui.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fidilaundry.app.ui.home.order.UserOrderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fidilaundry.app.ui.home.order.OrderListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fidilaundry.app.ui.home.order.OrderDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fidilaundry.app.ui.home.order.AdminOrderMapsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fidilaundry.app.ui.home.master.AddUserActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fidilaundry.app.ui.home.master.MasterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fidilaundry.app.ui.home.master.UserListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fidilaundry.app.ui.home.master.AddPriceActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fidilaundry.app.ui.home.master.PriceListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fidilaundry.app.ui.home.master.ItemListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fidilaundry.app.ui.complaint.UserComplaintActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fidilaundry.app.ui.complaint.ComplaintActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fidilaundry.app.ui.scanner.ScannerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fidilaundry.app.ui.scanner.SearchUserActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fidilaundry.app.ui.home.order.AdminOrderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fidilaundry.app.ui.home.order.OrderMapsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fidilaundry.app.ui.home.order.ConfirmOrderListActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>